<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body th:fragment="signup" class="signup" >
<div class="container">
        <form class="form-horizontal" method="post" action="#" th:action="@{/}" th:object="${user}" >
            <!-- Use th:field to set field 'id' here -->
            <input type="hidden" th:field="*{userId}" />
            <div class="form-group">
            <label class="control-label col-md-2" for="firstName">First name</label>
           <div class="col-md-5">
            <input type="text" th:field="*{firstName}" />
           <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" id="firstname">firstName Error</div>
            </div>
            </div>
            <div class="form-group">
            <label class="control-label col-md-2" for="lastName">Last name</label>
           <div class="col-md-5">
           
            <input type="text" th:field="*{lastName}" />
            
           <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName Error</div>
           </div>
            </div>
            
            <div class="form-group">
            <label class="control-label col-md-2" for="password">Password</label>
            <div class="col-md-5">
            <input type="password" th:field="*{password}"/>
            
           <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</div>
            </div>
            
            </div>
                  <div class="form-group">
      
            <label class="control-label col-md-2" for="email">Email</label>
              <div class="col-md-5">
          
            <input type="email" th:field="*{email}" />
            
           <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</div>
          </div>
          </div>
            <div class="form-group">
       
            <label class="control-label col-md-2" for="phone">Phone</label>
            <div class="col-md-5">
         
            <input type="number" th:field="*{phone}" />
            
           <div th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">phone Error</div>
            </div>
         </div>   
           <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>

        </form>

</div>
</body>

</html>