@CHARSET "ISO-8859-1";

.footer{
	background-color:#00BCD4;
	color: black;
}
.signup{
	padding-top: 120px;
}
#header{
	background-color: #00BCD4;


}
#firstname{
	
}
.signup  form-horizontal center{
}